body{
    background-color: #333333;
    background: linear-gradient(to right, #333333 0%, #333333 40%, white 40%, white 100%);
}
.header{
    padding: 1% 0% 0% 1%;
    margin-bottom: 7.5%;
}

.header *{
    font-size: 2vw;
    margin-bottom: 1vh;
    text-decoration: none;
}

#name, #name *{
    font-size: 3vw;
    padding-bottom: 1vh;
}


.menu-item:hover{
    text-decoration: underline;
    text-shadow: 2px 2px red;
}

.menu-item:hover *{
    font-size: 2.1vw;
}

.menu-box{
    display: inline;
    float: left;
    padding-right: 2.5vw;
    border-right: 2px solid white;
    height: 11vh;
    margin-left: 2.5vw;
}

#menu1{
    margin-left: 0vw !important;
}
#menu2{
    border-right: none;
}

#main-title{
    letter-spacing: 0.5vw;
    border-top: 6px solid white;
    padding-top: 2vh;
    font-weight: 550;
    text-shadow: 4px 4px black;
    width: 40%;
    clear:both;
    text-align: center;
    font-size: 8vw;
}

p{
    font-size: 20px;
    padding: 1%;
    max-width: 36vw;
    max-height: 50vh;
    overflow: auto;
    text-align: justify;
    line-height: 5vh;
    text-shadow: 1px 1px black;
}

img{
    filter: grayscale(100%) contrast(110%);
    width: 40vw;
    margin: 1%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.word-box{
    font-size: 2vw;
    text-shadow: 1px 1px darkgrey;
    position: absolute;
    white-space: pre-wrap;
    color:black;
    top: 5vh;
    left: 44vw;
    width: 50vw;
    max-height: 85vh;
    padding-bottom: 2%;
    overflow: auto;
}

.code-box{
    background-color: black;
    font-size: 1.2vw;
    font-family: consolas;
    color: white;
    padding: 2vh 2vw 2vh 2vw;
    white-space: pre-wrap;
    overflow:auto;
    max-height: 70vh;
}

.image-box{
    position: absolute;
    top: 5vh;
    left: 44vw;
    width: 50vw;
    max-height: 85vh;
    padding-bottom: 2%;
    overflow: auto;
}

p::-webkit-scrollbar, .code-box::-webkit-scrollbar,
.word-box::-webkit-scrollbar{
    width: 0.5vw;
    background-color: #F5F5F5;
}

p::-webkit-scrollbar-thumb, .code-box::-webkit-scrollbar-thumb,
.word-box::-webkit-scrollbar-thumb{
    background-color: grey;
}

.image-box::-webkit-scrollbar{
    width: 0.5vw;
    background-color: #F5F5F5;
}

.image-box::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.image-box::-webkit-scrollbar-thumb{
    background-color: black;
}

html *{
    color: white;
    font-family: 'Barlow Condensed', sans-serif, 'Consolas';
}
